
.rating {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.rating button {
  background: transparent;
  border: none;
  outline: none;
}
