
.form-action {
  margin-top: 40px;
}

button {
  background: #D89C00;
  border-radius: 16px;
  border: none;
  padding: 16px 49px;
  cursor: pointer;
}

button:disabled {
  background: #caa44f;
  cursor: not-allowed;
}
