
.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.sidebar {
  padding: 54px 48px;
  width: 405px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 68px;
}

.search {
  //padding: 14px 15px;
  //background: rgba(118, 118, 128, 0.12);
  //border-radius: 16px;
  //display: flex;
  //align-items: center;
  margin-bottom: 38px;
}

.search__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.search__label {
  width: 120px;
}

.search__input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.search__button {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.search__button button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content {
  width: 100%;
}

.header {
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashboard {
  height: 50%;
  padding-left: 48px;
  padding-right: 48px;
}

.title {
  font-size: 24px;
  margin-bottom: 7px;
}

.genre {
  margin-bottom: 27px;
}

.genre__title {
  font-size: 18px;
  margin-bottom: 14px;
}

.genre__item {
  margin-bottom: 12px;
}

.genre__item:last-child {
  margin-bottom: 0;
}

.genre__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.genre__label span {
  color: #A0A0A0;
}

.genre__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.genre__input-mark {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(118, 118, 128, 0.12);
  background-color: rgba(118, 118, 128, 0.12);
  margin-right: 11px;
}

.genre__input-mark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: #FFC837;
  border-radius: 50%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: scale(0);
}

.genre__input:checked + .genre__input-mark::after {
  opacity: 1;
  transform: scale(1);
}
